.navbar-header{
    background-color: #4aaaa5; 
    color: #ffffff;
}

html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-image: url("..//images/funky-lines.png");
    background-size: 100%;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;  
    color: #777777;

  }

  h1{
    color: #4aaaa5;
    font-size: 36px;
    
}
.navbar-header h1{
  color: #ffffff;
}

h2{
    font-size: 30px;
}

h4{
    font-size: 20px;
}

hr{
  background-color: #dddddd;
  border: none;
  margin: 2em 0;
  height: 2px;
  
}

  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
    text-align: center;
    background-color: #666666;
    border-top: 5px solid #4aaaa5;
  }

  body {
    background-image: url("..//images/funky-lines.png");
    background-size: 100%;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;  
    color: #777777;
}

.content {
  background-color:#ffffff;
}
.btn-primary{
  background-color:#4aaaa5;
  color: #ffffff;
  border: 0;
  padding: 5px 20px;
  font-size: 14pt;
  border-radius: 0;
}